.card{
    width: 240px;
    

    display: inline-flex;
    flex-direction: column;

    gap: 15px;
    justify-content: center;
    align-items: center;

    background-color: var(--cinza);
    color: (--preto);
    font-size: 10px;
    font-family: (--font);

    border-radius: 25px;
    margin-bottom: 35px;
}

.card button {
    background-color: transparent;
    border: none;
}


.Capa{
    width: calc(100%);
}

.favoritar {
    width: 20px;
    padding-bottom: 30px;
}


.link{
    text-decoration: none;
    justify-content: center;
    text-align: center;
    color: black;
}