:root{
  --font: 'Montserrat', sans-serif;

  --branco: #ffffff;
  --preto: #1a1a1a;
  --cinza: #565656;
}

body {
  margin: 0;
  font-family: var(--font);
  background-color: var(--preto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
